*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* :root{
  color: #cecece!important;
} */

footer, [dark-theme] {
  color: #cecece!important;;
}

body::-webkit-scrollbar {
  width: 18px;
  background-color: #000;
}

body::-webkit-scrollbar-thumb {
  background-color: #fff;
}

.shadow-top {
  box-shadow: 0 -15px 25px rgba(0, 0, 0, 0.1);
}