*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  width: 18px;
  background-color: #000;
}

body::-webkit-scrollbar-thumb {
  background-color: #fff;
}